---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout", "syntax-highlighting";

.header {
  margin: 1em 0;
  > img {
    float: right;
  }

  > a {
    font-size: 2em;
    font-weight: bold;
    line-height: 1;
  }

  > blockquote {
    border-left: 0;
    font-size: 0.9em;
    margin-top: 0.5em;
    padding-left: 0;
  }
}

.subscribe {
  float: right;
}

.footer {
  > nav > a {
    display: block;
  }
  > small {
    color: #aaa;
    display: block;
  }
}

img {
  max-width: 100%;
}

dt {
  font-weight: bold;
}

.sitenav > ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;

  > li {
    display: inline-block;
    flex: 1;
    margin: 0;
    padding: 0;

    & + li {
      border-left: 1px dotted #aaa;
    }

    &:hover {
      background-color: #eee;
    }
    &.active {
      background-color: #ddd;
    }

    > a,
    > strong {
      display: block;
      padding: 0.5em 1em;
      text-align: center;
    }
  }
}
