---
layout: default
---

<p><a href="/blog/">&raquo; Back to Blog</a></p>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="name headline">{{ page.title }}</h1>
    <p>
      <time
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
        >{{ page.date | date: "%b %-d, %Y" }}</time
      >{% if page.author %} •
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"
        ><span itemprop="name">{{ page.author }}</span></span
      >{% endif %}
    </p>
  </header>

  <div itemprop="articleBody">
    {{ content }}
  </div>
</article>
